Package: com.chilaxan.cuboid
Name: Cuboid
Depends: mobilesubstrate
Version: 2.0.2
Architecture: iphoneos-arm
Description: Lightweight home screen layout manager.
Maintainer: Shade & chilaxan & Nepeta
Author: chilaxan & Nepeta
Section: Tweaks
